<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>kAnswersArr</key>
		<array>
			<dict>
				<key>content</key>
				<string>如果车处于行驶状态，此时先将车停好，关闭发动机等候10分钟左右，这是机油会全部回流至油底壳。此时，把机油尺拔出，先用干净的布把机油尺上原本的油迹擦去，再把机油尺插回至底部，过个几秒钟再次拔出机油尺即可测得准确的油面高度。在机油尺的末端有上限和下限的记号，观察被机油浸润的部分，如果在上下限之间，说明机油量正好，如果高于上限则说明机油量过多，低于下限则说明机油量过少，需要适量添加。</string>
				<key>likeCount</key>
				<string>4</string>
			</dict>
		</array>
		<key>kAnswersCount</key>
		<string>4</string>
		<key>location</key>
		<string>Beijing</string>
		<key>time</key>
		<string>1 hours ago</string>
		<key>title</key>
		<string>奔驰S400怎么看机油多少?</string>
		<key>viewsCount</key>
		<string>5</string>
	</dict>
	<dict>
		<key>kAnswersArr</key>
		<array>
			<dict>
				<key>content</key>
				<string>C是舒适模式，Comfort的缩写，二档起步，倒档也是二档，感觉起步比较稳，换档时刻会有所提前，几乎不会感觉到换档冲击，开车时会觉得比较舒适、轻便。 S是运动模式，Sport的缩写，一档起步，倒档也是一档，起步扭矩大，换档时刻延后，因为在低速档容易得到比较大的驱动力，所以开车时觉得车有比较大的牵引力，在通过不大好的路面时，或者弯道多时，感觉动力充沛。</string>
				<key>likeCount</key>
				<string>10</string>
			</dict>
		</array>
		<key>kAnswersCount</key>
		<string>4</string>
		<key>location</key>
		<string>Beijing</string>
		<key>time</key>
		<string>1 hours ago</string>
		<key>title</key>
		<string>奔驰B200车行驶当中，挂档位置，有个C和S，两个都能用，怎样使用会更省油些吗？</string>
		<key>viewsCount</key>
		<string>5</string>
	</dict>
	<dict>
		<key>kAnswersArr</key>
		<array>
			<dict>
				<key>content</key>
				<string>奔驰新C级和CLA都是新车都很漂亮的，两款车售价差不多，新C级外观设计是借鉴了新S级，号称缩小版S级，假如是购买家里第一辆车就建议C200吧 要考虑实用舒适啊，第二辆车以上就CLA220 四驱吧，车小市区停车方便，C200 CLA220都是2.0T发动机，动力完全够用，性价比新C级高。</string>
				<key>likeCount</key>
				<string>10</string>
			</dict>
			<dict>
				<key>content</key>
				<string>那么进口的车型更好 质量可靠 做工也更细腻。</string>
				<key>likeCount</key>
				<string>4</string>
			</dict>
			<dict>
				<key>content</key>
				<string>买c级，营造的豪华感好多了啊。</string>
				<key>likeCount</key>
				<string>3</string>
			</dict>
			<dict>
				<key>content</key>
				<string>要空间就c，要操控就cla。</string>
				<key>likeCount</key>
				<string>2</string>
			</dict>
			<dict>
				<key>content</key>
				<string>奔驰cla车型比较好，性能不错的，稳定性不错，操控性出色。</string>
				<key>likeCount</key>
				<string>5</string>
			</dict>
			<dict>
				<key>content</key>
				<string>我个人推荐c200l，外形时尚，内饰高大上，空间也比较舒适，动力足。</string>
				<key>likeCount</key>
				<string>4</string>
			</dict>
		</array>
		<key>kAnswersCount</key>
		<string>4</string>
		<key>location</key>
		<string>Beijing</string>
		<key>time</key>
		<string>1 hours ago</string>
		<key>title</key>
		<string>CLA220和C200L价位差不多，动力也差不多，怎么选择呢？</string>
		<key>viewsCount</key>
		<string>5</string>
	</dict>
	<dict>
		<key>kAnswersArr</key>
		<array>
			<dict>
				<key>content</key>
				<string>你指的是驾驶辅助系统暂停工作吧。这个系统停止工作后，一些安全提醒或驾驶辅助功能失效，但是车辆基本功能正常，不影响车辆行驶，但还是建议尽快到经销商检查一下，确认一下问题部位。</string>
				<key>likeCount</key>
				<string>8</string>
			</dict>
			<dict>
				<key>content</key>
				<string>你好，可以的，但只是要全靠人工操控了。</string>
				<key>likeCount</key>
				<string>2</string>
			</dict>
		</array>
		<key>kAnswersCount</key>
		<string>4</string>
		<key>location</key>
		<string>Beijing</string>
		<key>time</key>
		<string>1 hours ago</string>
		<key>title</key>
		<string>奔驰警示辅助系统暂停运作还能不能驾驶汽车？</string>
		<key>viewsCount</key>
		<string>2</string>
	</dict>
</array>
</plist>
